body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: beige;
}

#app {
  width: 80vw;
  height: 80vh;
  background-color: white;
  position: relative;
}

#nice {
  position: absolute;
  width: 32px;
  height: 32px;
  background-image: url('./../assets/img/abstract32x32.png');
}